# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runti>astronomer-cosmos[dbt.redshift]
astronomer-cosmos
dbt-core
dbt-redshift
protobuf
numpy==1.23.5
pandas==2.0.0
pyarrow==14.0.2
Requests==2.31.0
pygsheets==2.0.6
boto3==1.26.75
smart-open==6.4.0
urllib3==1.26.14
SQLAlchemy==1.4.51
redshift-connector==2.0.910
mysql-connector-python==8.0.32
sshtunnel
openpyxl
regex
Python-IO
xlsxwriter
connectorx
cx_Oracle
setuptools
apache-airflow-providers-amazon
google-api-python-client
google-auth
discord-webhook
apache-airflow-providers-airbyte[http]
apache-airflow-providers-airbyte
google-analytics-data
gapandas4